<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.BangS00.iOS.customApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a MVVM architecture.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>Application/AppDelegate.swift</string>
		<string>Application/AppAppearance.swift</string>
		<string>Application/AppConfiguration.swift</string>
		<string>Application/AppFlowCoordinator.swift</string>
		<string>Application/DIContainer/AppDIContainer.swift</string>
		<string>Application/DIContainer/ExampleSceneDIContainer.swift</string>
		<string>Presentation/ExampleScene/Flow/ExampleFlowCoordinator.swift</string>
		<string>Presentation/ExampleScene/Example/ViewModel/ExampleViewModel.swift</string>
		<string>Presentation/ExampleScene/Example/View/ExampleViewController.swift</string>
		<string>Presentation/Utils/Extension/UIApplication+Ext.swift</string>
		<string>Presentation/Utils/Extension/UITableViewCell+Ext.swift</string>
		<string>Presentation/Utils/Extension/UICollectionViewCell+Ext.swift</string>
		<string>Presentation/Utils/Extension/UIView+Ext.swift</string>
		<string>Presentation/Utils/Extension/UIButton+Ext.swift</string>
		<string>Presentation/Utils/Extension/UIImage+Ext.swift</string>
		<string>Presentation/Utils/Extension/UIColor+Ext.swift</string>
		<string>Presentation/Utils/Extension/String+Ext.swift</string>
		<string>Presentation/Utils/Extension/Date+Ext.swift</string>
		<string>Presentation/Utils/Protocol/StoryboardInstantiable.swift</string>
		<string>Domain/Entities/ExampleEntities.swift</string>
		<string>Domain/UseCases/ExampleUseCase.swift</string>
		<string>Domain/Interface/Repositories/ExampleRepository.swift</string>
		<string>Data/Repositories/DefaultExampleRepository.swift</string>
		<string>Data/Network/APIEndpoints.swift</string>
		<string>Data/Network/DataMapping/ExampleRequestDTO.swift</string>
		<string>Data/Network/DataMapping/ExampleResponseDTO.swift</string>
		<string>Data/PersistentStorages/ExampleStorage/ExampleStorage.swift</string>
		<string>Data/PersistentStorages/ExampleStorage/UserDefaultsExampleStorage.swift</string>
		<string>Data/PersistentStorages/ExampleStorage/DataMapping/ExampleEntityUDS.swift</string>
		<string>Infrastructure/PersistentStorage/UserDefaultsStorage/UserDefaultsStorage.swift</string>
		<string>Infrastructure/Network/NetworkConfig.swift</string>
		<string>Infrastructure/Network/Endpoint.swift</string>
		<string>Infrastructure/Network/NetworkService.swift</string>
		<string>Infrastructure/Network/NetworkInterceptor.swift</string>
		<string>Resources/Info.plist</string>
		<string>../Podfile</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Application/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/AppAppearance.swift</key>
		<dict>
			<key>Path</key>
			<string>AppAppearance.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/AppConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>AppConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/AppFlowCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>AppFlowCoordinator.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/DIContainer/AppDIContainer.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDIContainer.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
				<string>DIContainer</string>
			</array>
		</dict>
		<key>Application/DIContainer/ExampleSceneDIContainer.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleSceneDIContainer.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
				<string>DIContainer</string>
			</array>
		</dict>
		<key>Presentation/ExampleScene/Flow/ExampleFlowCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleFlowCoordinator.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>ExampleScene</string>
				<string>Flow</string>
			</array>
		</dict>
		<key>Presentation/ExampleScene/Example/ViewModel/ExampleViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>ExampleScene</string>
				<string>Example</string>
				<string>ViewModel</string>
			</array>
		</dict>
		<key>Presentation/ExampleScene/Example/View/ExampleViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>ExampleScene</string>
				<string>Example</string>
				<string>View</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UIApplication+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UIApplication+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UITableViewCell+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UITableViewCell+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UICollectionViewCell+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UICollectionViewCell+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UIView+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UIView+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UIButton+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UIButton+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UIImage+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UIImage+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/UIColor+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>UIColor+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/String+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>String+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Extension/Date+Ext.swift</key>
		<dict>
			<key>Path</key>
			<string>Date+Ext.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Presentation/Utils/Protocol/StoryboardInstantiable.swift</key>
		<dict>
			<key>Path</key>
			<string>StoryboardInstantiable.swift</string>
			<key>Group</key>
			<array>
				<string>Presentation</string>
				<string>Utils</string>
				<string>Protocol</string>
			</array>
		</dict>
		<key>Domain/Entities/ExampleEntities.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleEntities.swift</string>
			<key>Group</key>
			<array>
				<string>Domain</string>
				<string>Entities</string>
			</array>
		</dict>
		<key>Domain/UseCases/ExampleUseCase.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleUseCase.swift</string>
			<key>Group</key>
			<array>
				<string>Domain</string>
				<string>UseCases</string>
			</array>
		</dict>
		<key>Domain/Interface/Repositories/ExampleRepository.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleRepository.swift</string>
			<key>Group</key>
			<array>
				<string>Domain</string>
				<string>Interface</string>
				<string>Repositories</string>
			</array>
		</dict>
		<key>Data/Repositories/DefaultExampleRepository.swift</key>
		<dict>
			<key>Path</key>
			<string>DefaultExampleRepository.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Repositories</string>
			</array>
		</dict>
		<key>Data/Network/APIEndpoints.swift</key>
		<dict>
			<key>Path</key>
			<string>APIEndpoints.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Data/Network/DataMapping/ExampleRequestDTO.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleRequestDTO.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Network</string>
				<string>DataMapping</string>
			</array>
		</dict>
		<key>Data/Network/DataMapping/ExampleResponseDTO.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleResponseDTO.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>Network</string>
				<string>DataMapping</string>
			</array>
		</dict>
		<key>Data/PersistentStorages/ExampleStorage/ExampleStorage.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleStorage.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>PersistentStorages</string>
				<string>ExampleStorage</string>
			</array>
		</dict>
		<key>Data/PersistentStorages/ExampleStorage/UserDefaultsExampleStorage.swift</key>
		<dict>
			<key>Path</key>
			<string>UserDefaultsExampleStorage.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>PersistentStorages</string>
				<string>ExampleStorage</string>
			</array>
		</dict>
		<key>Data/PersistentStorages/ExampleStorage/DataMapping/ExampleEntityUDS.swift</key>
		<dict>
			<key>Path</key>
			<string>ExampleEntityUDS.swift</string>
			<key>Group</key>
			<array>
				<string>Data</string>
				<string>PersistentStorages</string>
				<string>ExampleStorage</string>
				<string>DataMapping</string>
			</array>
		</dict>
		<key>Infrastructure/PersistentStorage/UserDefaultsStorage/UserDefaultsStorage.swift</key>
		<dict>
			<key>Path</key>
			<string>UserDefaultsStorage.swift</string>
			<key>Group</key>
			<array>
				<string>Infrastructure</string>
				<string>PersistentStorage</string>
				<string>UserDefaultsStorage</string>
			</array>
		</dict>
		<key>Infrastructure/Network/NetworkConfig.swift</key>
		<dict>
			<key>Path</key>
			<string>NetworkConfig.swift</string>
			<key>Group</key>
			<array>
				<string>Infrastructure</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Infrastructure/Network/Endpoint.swift</key>
		<dict>
			<key>Path</key>
			<string>Endpoint.swift</string>
			<key>Group</key>
			<array>
				<string>Infrastructure</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Infrastructure/Network/NetworkService.swift</key>
		<dict>
			<key>Path</key>
			<string>NetworkService.swift</string>
			<key>Group</key>
			<array>
				<string>Infrastructure</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Infrastructure/Network/NetworkInterceptor.swift</key>
		<dict>
			<key>Path</key>
			<string>NetworkInterceptor.swift</string>
			<key>Group</key>
			<array>
				<string>Infrastructure</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Info.plist</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
